*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;;
}

a{
    color: black !important;
    font-weight: 800;
    font-size: 15px;
}

:root{
    scroll-behavior: smooth;
}


header{
    width: 100%;
    height: 100vh;
    background-color:RGB(255,220,200);
    color: black;
}

header h1{
    padding: 60px;
    width: 100%;
    height: 100px;
    position: relative;
    font-size: 43px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    z-index: 100;
    padding-left: 163px;

}

header h1 span{
    color: white;
    z-index: 100;
}

.box-description{
    text-align: justify;
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 5%;
    color: black;
    font-weight: 200;
}


.box-img img{
    width: 300px;
    height: 400px;
    border-radius: 500px;
    margin-top: 30%;
    margin-left: 15%;
}



.hero--img{
    background-color: black;
    position: absolute !important;
    top: 0;
    right: 0;
    height: 100vh;
    background-size: cover;
    z-index: 1;
}


.container-tools{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tools h3{
    text-align: center;
    margin-bottom: 40px;
}

.tools{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;

}

.tools h4 {
    text-align: center;
}

.tools img{
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}


.project2 {
    position: fixed;
    z-index: 100;
    bottom: 7%;
    left: 1%;
}

.project2-button{
    padding: 7px 17px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    font-family:15px;
    font-weight: 400;
    border : 2px solid transparent;
    -webkit-transition : border 300ms ease-out;
    -moz-transition : border 300ms ease-out;
    -o-transition : border 300ms ease-out;
    transition : border 300ms ease-out;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.57);
}

.project2-button:hover{
    border:2px solid black;   
    color: black !important;
}

.boxicon{
    animation: arrow 0.6s ease-in-out infinite;
}

@keyframes arrow {
    0% {
    transform: translate(0px, 0px);
    }
    50% {
    transform: translate(-6px, 0px);
    }
    100% {
    transform: translate(-9px, 0px);
    }
    }



.botones{
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    left: 60%;
    top:-3px;
}


.container-certificados{

    height: 100vh;
    margin-bottom: 50px;
}


/* responsive */


@media(max-width: 1060px) {

    header h1{
        font-size: 2.3em;
        padding-left: 0px;
    }

}


@media(max-width: 991px) {

    header {
        background-color: black;
        color:white;
    }

    /* header h1{
        width: 100%;
    } */

    .img-relative{
        width: 30%;
        height: 30%;
        margin: 0 auto;
        padding-top: 20px;
    }


    .box-description{
        text-align: justify;
        color:white;
    }

    .box-description p{
        font-weight: 200;
        font-size: 1.2em;
    }

    .botones a{
        color: white !important;
    }

}

@media(max-width: 768px) {

    header {
        height: 100vh;
    }

    header h1 {
       font-size: 2em;
       text-align: center;
    }


    .box-description{
        margin-top: 10px;
    }

    .box-description p{
        padding: 3px;
        font-size: 1em;
    }

    .container-certificados {
       display: flex;
       align-items: center;
       height: 100%;
    }

    .container-tools {
        height: 100%;
    }
}

 @media screen and (max-width:490px){

    header {
        height: 100%;
    }
    
    header h1 {
        font-size: 1.5em;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .box-description p {
        font-size: 13px;
    }
} 




